# Default values for garden-db
replicaCount: 1

image:
  repository: postgres
  tag: "12.4-alpine"
  pullPolicy: IfNotPresent

database:
  name: "postgres"
  user: "postgres"
  password: "postgres"

service:
  type: ClusterIP
  port: 5432

persistence:
  enabled: false
  # size: 1Gi

resources:
  limits:
    memory: 512Mi
    cpu: 500m
  requests:
    memory: 256Mi
    cpu: 250m